body {
    background: var(--carrinho);
    overflow-y: hidden;
    color: var(--cor-texto1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 80px;

    background: var(--carrinho2);

    font-size: 30px;

    .icons {

        i {
            border-right: 1px solid var(--carrinho);
            color: #82DF4D;
            padding: 0px 10px;
        }
    }
}

.card-prod,
.card-price {
    background: var(--carrinho1);

    height: 200px;

    padding: 20px;
    border-radius: 10px;
}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;
    height: 100vh;

    .card-prod {

        height: auto;

        .lista-carrinho {

            width: 800px;

            .card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                margin: 10px 0px;

                min-width: 400px;
                max-width: 100%;

                img {

                    min-width: 20%;
                    width: 20%;
                    max-width: 20%;

                    min-height: 20%;
                    height: 20%;
                    max-height: 20%;

                    border-radius: 10px;
                    object-fit: cover;
                }

                button {
                    padding: 10px;
                    cursor: pointer;

                    border: none;
                    border-radius: 5px;

                    color: var(--cor-texto);
                    background-color: var(--carrinho1);

                    &:hover{
                        background-color: var(--cor-vermelho);
                    }

                    i{
                    font-size: 25px;
                    }
                }
            }

        }
    }

    .card-price {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        max-height: 200px;

        .price {
            display: flex;
            flex-direction: column;

            .price-ofc,
            .price-off {
                display: flex;
                justify-content: space-between;

                width: 300px;
            }

            span {
                color: var(--cor-borda);
            }
        }


        button {
            padding: 10px;
            cursor: pointer;

            border: none;
            border-radius: 5px;

            color: var(--cor-fundo1);
            background-color: var(--cor-fundo9);
        }
    }
}